body{
    height:9999px
}
.boxy{
    display: none;
}
.boxy div{
    background: blue;
    width:100px;
    height:100px;
    display: inline-block;
}
p{
    
}
.subject{
}
.subject:hover{
    animation: slider;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}
.world{
    position: absolute;
    left:100px;
    display: block;
    width: 90px;
    height: 90px;
    border:2px solid red;
    border-radius: 50%;
}

.myRect{
    fill: red;
    width:50px;
    height: 50px;
}





.spinner{
    position: absolute;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid blue;
    border-left: 3px solid transparent;
    border-bottom: 3px solid rgba(0,0,255,.3);
    border-right: 3px solid rgba(0,0,255,.7);
    border-radius: 50%;
    animation: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

@keyframes spinner{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}


@keyframes slider{
    0% {
        margin-left:0;
        transform: translateX(0%);
        background: blue;
    }
    50% {
        background: pink;
    }
    100%{
        margin-left:100px;
        transform: translateX(100%);
        background: red;
    }
}


.boxy div{
    margin:10px;
}


.wrapper{
    width:100px;
    border:1px solid black;
    white-space: nowrap;
    overflow:hidden;
}
.wrapper .text{
    transition: transform 1s ease-out;
    transform: translateX(100px)
}
.wrapper:hover .text{
    transform: translateX(0px)
}












